@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #F6FAB9;
}
.container{
    padding-top: 1rem;
}
h1{
    text-align: center;
    margin: 1rem auto;
    text-decoration: underline;
}
.display{
    width: 95%;
    max-width: 576px;
    margin: 0 auto;
    min-height: 50vh;
    background-color: #8E3E63;
    border: 5px solid #FF5F00;
    border-radius: 5px;
}
.buttons{
    width: 50%;
    max-width: 120px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.buttons p:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    outline: none;
    border: none;
    background-color: #FF5F00;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button i{
    color: #002379;
    font-size: 1.125rem;
}



.food{
    color: #C5FF95;
}

.snake{
    color: #F6FAB9;
}

/* media query */
@media (max-width: 333px) {
    h1{
        font-size: 1.413rem;
    }
    .display{
        min-height: 95vw;
    }
}