@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    /* background-color: #F6FAB9; */
    background-image: url('../image/img.avif');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    padding-top: 1rem;
}
h1{
    text-align: center;
    margin: 1rem auto;
    text-decoration: underline;
    color: #fff;
}
.display{
    background-color: #8E3E63;
    border: 5px solid #FF5F00;
    border-radius: 5px;
    height: 350px;
    width: 350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
}
.head{
    background-color: #f7ff82;
}
.snake{
    background-color: #c3c86c;
}
.food{
    background-color: #C5FF95;
}
.buttons{
    width: 50%;
    max-width: 120px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    display: none;
}
.buttons p:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    outline: none;
    border: none;
    background-color: #FF5F00;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button i{
    color: #002379;
    font-size: 1.125rem;
}

.score-box{
    width: 350px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #000;
    font-size: 28px;
    background-color: #ffffff60;
    border-radius: 5px;
}
.score-box h4{
    font-weight: 300;
}
.score-box p{
    font-weight: 500;
}



/* media query */
@media (max-width: 576px) {
    .display{
        margin: 0 auto;
    }
    .buttons{
        display: flex;
    }
}
@media (max-width: 333px) {
    h1{
        font-size: 1.413rem;
    }
    .display{
        min-height: 95vw;
    }
}

